<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myblog.mapper.BoardMapper">
	
	<!-- 게시글 리스트 호출 -->
	<select id="getBoardList" resultType="com.myblog.domain.Board">
		select 
			bno, boarduno, category, boardtitle, boardcontent, tag, cnt, regid, regdate, editdate
		from 
			tbl_board
		<trim prefix="where" prefixOverrides="and|or">
			<if test="searchType=='boardtitle' and keyword != null and keyword != ''">
				and boardtitle like concat('%', #{keyword}, '%')
			</if>
			
			<if test="searchType=='boardcontent' and keyword != null and keyword != ''">
				and boardcontent like concat('%', #{keyword}, '%')
			</if>
			
			<if test="searchType=='regid' and keyword != null and keyword != ''">
				and regid like concat('%', #{keyword}, '%')
			</if>
		</trim>
		order by
			bno desc
		limit
			#{startList}, #{listSize}
		
	</select>
	
	<!-- 게시글 페이징 -->
	<select id="getBoardListCnt" resultType="int">
		select
			count(*) as listCnt
		from
			tbl_board
		<trim prefix="where" prefixOverrides="and|or">
			<if test="searchType=='boardtitle' and keyword != null and keyword != ''">
				and boardtitle like concat('%', #{keyword}, '%')
			</if>
			
			<if test="searchType=='boardcontent' and keyword != null and keyword != ''">
				and boardcontent like concat('%', #{keyword}, '%')
			</if>
			
			<if test="searchType=='regid' and keyword != null and keyword != ''">
				and regid like concat('%', #{keyword}, '%')
			</if>
		</trim>
	</select>
	
	<select id="getBoardContent" resultType="com.myblog.domain.Board">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="registBoard" parameterType="com.myblog.domain.Board" useGeneratedKeys="true" keyProperty="bno">
		insert into tbl_board
			(category, boarduno, boardtitle, boardcontent, tag, cnt, regid, regdate, editdate)
		values
			(#{category}, #{boarduno}, #{boardtitle}, #{boardcontent}, #{tag}, 0, #{regid}, now(), now())
	</insert>
	
	<!-- 게시글 파일업로드 -->
	<insert id="fileRegist" parameterType="com.myblog.domain.FileVO">
		insert into tbl_file
			(filebno, filename, fileoriname, fileurl)
		values
			((select max(bno) from tbl_board), #{filename}, #{fileoriname}, #{fileurl})
	</insert>
	
	<!-- 게시글 파일 다운로드 -->
	<select id="fileDetail" parameterType="int" resultType="com.myblog.domain.FileVO">
		select * from tbl_file where filebno = #{filebno}
	</select>
	
	<!-- 파일 삭제 -->
	<delete id="fileDelete" parameterType="int">
		delete from
			tbl_file
		where
			fno = #{fno}
		
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.myblog.domain.Board">
		update tbl_board set
			category = #{category},
			boardtitle = #{boardtitle},
			boardcontent = #{boardcontent},
			tag = #{tag},
			editdate = now()
		where
			bno = #{bno}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<!-- 게시글 조회수 증가 -->
	<update id="updateViewCnt" parameterType="com.myblog.domain.Board">
		update tbl_board set
			cnt = cnt + 1
		where
			bno = #{bno}
	</update>
	
</mapper>




















