@charset "UTF-8";
@import url(normalize.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	position: fixed;
	font-family: 'Noto Sans KR', sans-serif;
	
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	background: #022020;
}

/* header */
header {
	position: relative;
	height: 70px;
	width: 100%;
}

header .logo {
	position: absolute;
	bottom: 0;
	left: 100px;
	
	cursor: pointer;
}

header .lock {
	position: absolute;
	bottom: 0;
	right: 100;
	
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

/* title */
.title {
	position: relative;
	width: 210px;
	height: 27px;
	margin: auto;
	padding-top: 80px;
}

.title h2 {
	color: #fff;
	font-weight: normal;
	font-size: 28px;
	text-align: center;
}


/* signInfo */
.main {
	width: 700px;
	margin: auto;
	margin-top: 70px;
	
	border-radius: 10px;
	background-color: #033434;
}

/* signInfo 영역 */
.main .signInfo {
	position: relative;
	width: 100%;
}

.signInfo .name, .id, .pwd, .PN {
	padding: 70px 70px 0 70px;
}

/* 텍스트 상자 없애기 outline */
.signInfo input {
	width: 65%;
	margin-left: 100px;
	padding: 5px 5px;
	border: none;
	border-bottom: 2px solid #fff;
		
	outline: none;
		
	background-color: #033434;
	color: #fff;
		
	font-size: 21px;
	
	z-index: 3;
}

.name span, .id span, .pwd span, .PN span {
	position: absolute;
	bottom: 5px;
	color: #ffc858;
	font-size: 22px;
}

/* name */
.signInfo .name {
	position: relative;
	width: 100%;
	
}

/* userEmail(id) */
.signInfo .id {
	position: relative;
	width: 100%;
	
}

.id .warning {
	position: absolute;
	left: 170px;
	bottom: -20px;
	color: #ffc858;
}

.id #idCheck {
	position: absolute;
	bottom: 5px;
	
	right: 210px;

	outline: none;
	padding: 6px 8px;
	
	font-size: 10px;;
	
	background-color: #033434;
	color: #fff;
	
	cursor: pointer;
	transition: all 0.5s;
	
}

/* inspectionOn */
.inspectionOn {
	position: relative;
	display: none;
	background: #033434;
}

.inspectionOn .inspectionBtn {
	position: absolute;
	top: 8px;
	left: 170px;
	
	background: #033434;
	color: #fff;
	
	cursor: pointer;
	
	z-index: 3;
}

/* inspection */
.inspection {
	position: relative;
	display: none;
	width: 455px;
	
	margin: 0 70px 0 170px;
	background: #033434;
}

.inspection input {
	width: 70%;
	margin: 0;
}

.inspection button {
	position: absolute;
	top: 5px;
	right: 29%;
	
	padding: 6px 8px;
	
	background: #033434;
	color: #fff;
	
	font-size: 10px;
	cursor: pointer;
}


/* userPwd */
.signInfo .pwd {
	position: relative;
	width: 100%;
}

/* userPN */
.signInfo .PN {
	position: relative;
	width: 100%;
}

.PN .certification {
	position: absolute;
	right: 210px;
	bottom: 5px;
	
	padding: 6px 8px;
	
	outline: none;
	background: #033434;
	color: #fff;
	
	font-size: 10px;
	cursor: pointer;
}

/* certificationCon */
.certificationCon {
	position: absolute;
	display: none;
	width: 455px;
	left: 170px;
	background: #033434;
}

.certificationCon #key {
	width: 70%;
	margin: 0;
}

.certificationCon .sub {
	position: absolute;
	right: 29%;
	top: 5px;
	
	padding: 6px 8px;
	
	background: #033434;
	color: #fff;
	
	font-size: 10px;
	cursor: pointer;
}


/* privacyInfo */
.privacyInfo {
	position: relative;
	width: 100%;
	top: 50px;
	right: 70px;
}


input[id="privacyPolicy"] + label {
	position: absolute;
	right: 210px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1.5px solid #ffc858;
	border-radius: 5px;
	cursor: pointer;

}

input[id="privacyPolicy"]:checked + label {
	background-color: #fbd85e;
}
input[id="privacyPolicy"] {
	display: none;
}

.privacyInfo .privacyT1 {
	position: absolute;
	right: 92px;
	color: #FFC858;
	font-size: 15px;
}
.privacyInfo .privacyT2 {
	position: absolute;
	right: 0;
	color: #fff;
	font-size: 15px;
}

/* underBar */
.underBar {
	position: relative;
	width: 100%;
	height: 45px;
	
	margin-top: 150px;
}

.underBar #ok {
	position: absolute;
	right: 70px;
	bottom: 70px;
	
	border: 1.5px solid #fff;
	border-radius: 20px;
	padding: 10px 26px;
	font-size: 18px;
	
	background-color: #033434;
	color: #fff;
	cursor: pointer;
	
	transition: all 0.7s;
}

.underBar #ok:hover {
	box-shadow: 88.13px 0 0 0 #ffc858 inset;
	color: #363D4B;
}


/* 모바일 화면일 경우의 스타일 */
@media screen and (max-width: 900px) {

	.main {
		width: 100%;
	}
	
	header .logo {
		left: 50px;
	}
	
	header .lock {
		right: 50px;
	}
		
	.signInfo {
		position: relative;
		width: 100%;
	}
	
	.signInfo .name, .id, .pwd, .PN {
		padding: 70px 70px 0 35px;
	}
	
	.id .warning {
		left: 135px;
	}
	
	.inspectionOn .inspectionBtn {
		left: 135px;
	}
	
	.inspection {
		margin-left: 135px;
	}
	
	.certificationCon {
		left: 135px;
	}
	
	.privacyInfo {
		right: 40px;
	}
	
	
	.id #idCheck {
		position: absolute;
		bottom: 5px;
		
		right: 140px;
	
		outline: none;
		padding: 6px 8px;
		
		font-size: 10px;;
		
		background-color: #033434;
		color: #fff;
		
		cursor: pointer;
		transition: all 0.5s;
		
	}
	
	.PN .certification {
		position: absolute;
		right: 140px;
		bottom: 5px;
		
		padding: 6px 8px;
		
		outline: none;
		background: #033434;
		color: #fff;
		
		font-size: 10px;
		cursor: pointer;
	}
	
	.underBar #ok {
		right: 40px;
	}
}










